# .NET Core/.NET
*.swp
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Visual Studio
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Angular
/dist/
/bazel-out
/node_modules
/tmp
/out-tsc
/coverage
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 